#login{
 padding-bottom: 2px;   
}
.rounded{
margin-top:12%;
height:400px;
backface-visibility: hidden;
}
body{
        background-image: linear-gradient(to right, #4cd4cdce , #e85cf2be),url("image1.jpg");
}
#login-head{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font:bold;
}
#login-panel{
    padding: 3px;
    margin:2px;
    height:300px;
}
#form-control
{
    margin-top:3px;
}
label{

    font: small;
    font-family: Arial, Helvetica, sans-serif;
}
.inbtn{
    margin-bottom: 10px;

}